.contacts-links {
  position: fixed;
  display: flex;

  right: 70px;
  top: 30px;

  z-index: 9;
  flex-wrap: nowrap;

  @include tablet {
    right: 70px;
    top: 25px;
  }

  @include laptop {
    right: 150px;
    top: 45px;

  }

  .call-link {
    margin-right: 15px;

  }

  .call-link:not(:hover) {
    box-shadow: 0 0 4px 0 rgba(50, 50, 50, 0.25);
    border-color: white;
    color: white;
  }

  &__phone {
    position: absolute;
    top: 100%;
    color: white !important;
    text-decoration: none !important;
    margin-top: 15px;
    left: 50%;
    margin-left: -7px;
    transform: translateX(-50%);
    display: none;

    @include laptop {
      display: block;
    }

    @include vertical {
      display: none !important;
    }
  }
}


.contacts-links_black {
  .contacts-links__phone {
    color: black !important;
  }

  .call-link:not(:hover) {
    border-color: black !important;
  }

  svg {
    color: black;
  }

  .call-link--whatsapp:hover svg {
    color: white;
  }

}

.lg-on .contacts-links {
  z-index: 9999;
}
