mixin section-one()
  +background-video()
  section.section-one.container(class!=attributes.class)
    .layer
      .section-one__inner
        .title.section-one__title АНДРЕЙ И&nbsp;ТАТЬЯНА
        .text-big.section-one__text Лучший дуэт ведущих для вашего мероприятия
        ul.list
          li.list__item Результат вашего события в надежных руках
          li.list__item Вы захотите все повторить, потому что вам это точно&nbsp;понравится!
      .section-one__buttons
        button(type="button", data-move-to="2").button.section-one__button.move-to-link Подробнее
        button(type="button").button.section-one__button.open-order Забронировать
      +promo-video()
    +contacts()
    
