.section-main {
  position: relative;

  background: black url(../images/main-bg.jpg) no-repeat 65% center;
  background-size: cover;

  @include laptop() {
    background: black url(../images/main-bg.jpg) no-repeat top center;
    background-size: cover;
  }

  &--wedding {
    background: url(../images/section-one-wedding.jpg) no-repeat 60% 70%;
    background-size: 380%;

    @media (min-width: 400px) {
      background-position: 62% 80%;
      background-size: 330%;
    }

    @media (min-width: 600px) {
      background-position: 65% 100%;
      background-size: 200%;
    }

    @include tablet() {
      background-position: 70% center;
      background-size: cover;
    }


    @include laptop() {
      background-position: bottom center;
    }
  }

  &--battle {
    background: url(../images/main-battle.jpg) no-repeat 65% 40%;
    background-size: 340%;

    @media (min-width: 450px) {
      background-position: 60% center;
      background-size: cover;
    }
    @include tablet() {
      background-position: center;
      background-size: cover;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    opacity: 0.4;

    @include laptop() {
      display: none;
    }
  }
}

.section-one {
  min-height: 470px;
  padding-bottom: 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 100px;

  top: 80px;
  @include tablet() {
    top: auto;
  }
  @include laptop() {
    position: relative;

    &:after {
      content: '';
      height: 24px;
      width: 1px;
      background: white;
      display: block;
      position: absolute;
      right: 140px;
      top: 0;
    }
  }


  &__inner {
    @include laptop() {
      width: 500px;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    //margin-top: 89px;
    padding-right: 120px;
    margin-bottom: 25px;


    @include laptop() {
      padding-right: 0;
      margin-bottom: 40px;
      font-size: 30px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    padding-right: 115px;

    @include laptop() {
      padding-right: 0;
      font-size: 22px;
    }
  }

  .list {
    font-weight: 300;
    margin-top: 20px;

    @include tablet() {
      margin-top: 30px;
    }

    .list__item {
      margin-bottom: 17px;

      @include tablet() {
        margin-bottom: 27px;
      }
    }
  }

  &__buttons {
    margin-top: 35px;
    @include laptop() {
      margin-top: 52px;
    }
  }

  &__button {
    margin-right: 18px;
    min-width: 122px;
    @include laptop() {
      min-width: 160px;
    }
  }

  &__socials {
    width: 50px;
    position: absolute;
    flex-wrap: nowrap;
    margin-top: -20px;
    max-height: 70vh;
    top: 29px;
    margin-bottom: 0;
    right: 11px;
    transform: translateY(30px);

    @include tablet() {
      transform: none;
    }
    @include laptop() {
      max-height: 90vh;
      top: 50%;
      transform: translateY(-50%);
      right: 60px;
      margin-top: -10px;
    }
  }

  .fp-tableCell {
    display: block !important;
  }

  &__contacts {
    position: absolute;
    right: 30px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 65px;

    @include laptop() {
      margin-top: 0;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  align-items: flex-end;


  li {
    padding-bottom: 20px;
    @include laptop() {
      padding-bottom: 30px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: normal;
    writing-mode: tb-rl;
    font-size: 10px;
    padding-left: 10px;
    position: relative;

    @include laptop() {
      font-size: 16px;
    }

    &:after {
      content: '';
      height: 100%;
      border-left: 1px solid #FFED00;
      position: absolute;
      left: 0;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity 0.5s ease;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}


.call-link {
  bottom: 25px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  color: white;
  border: 1px solid currentColor;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  right: 70px;
  position: fixed;
  transform: none;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background: #FFED00;
    color: black;
    border-color: #FFED00;
  }

  margin-left: -100px;

  @include tablet() {
    //top: 20px;
  }
  @include laptop() {
    background-size: 16px;
    top: -4px;
    left: auto;
    right: 144px;
    width: 60px;
    height: 60px;
    border-radius: 10px;

    &:hover {
      background-size: 16px;
    }
  }
}

