mixin section-four()
    .section-four
        .section-four__header.container.section-header
            .section-title Незабываемые моменты
            .section-header__text Мы здесь для того, чтобы сделать ваше событие  ярким и незабываемым
        //mosaic here
        .section-four__mosaic
            +mosaic()
    .next-link.section-four__next-link.move-to-link(data-move-to="5") Шоу-Программы
        span
