.section-four {
  color: white;

  @include tablet {
    margin-top: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-top: 30px;

    @include laptop() {
      padding-top: 0;
    }
  }

  .section-title {
    color: white;
    top: auto;
    @include laptop() {
      padding-right: 78px;
    }
  }

  .section-header__text {
    @include laptop() {
      padding-left: 88px;
      padding-top: 0;
      margin-top: -10px;
      width: 250px;
    }
  }
}

.section-four__next-link {
  display: none;
  @include tablet() {
    display: flex;
  }
}


.section_media {
  position: relative;
  z-index: 1;
  @include vertical {
    padding-bottom: 50px;
  }

  @include tablet {
    @include disable-slides {
      padding-bottom: 90px;
    }
    margin-bottom: 0;
    //margin-bottom: -190px;
  }

  @include laptop {
    margin-bottom: 0;
    @include disable-slides {
      padding-top: 80px;
      padding-bottom: 10px;
    }
  }
}
