mixin section-five()
    .section-five.container
        .section-five__header.container.section-header
            .section-title Шоу-программы
            .section-header__text От небольших семейных, но очень душевных вечеров до грандиозных торжественных банкетов
        ul.offers.section-five__list
            li.offers__item
                .offers__title Lite
                button(type="button" data-id="7").offers__button Подробнее
            li.offers__item
                .offers__title Perfect
                button(type="button" data-id="8").offers__button Подробнее
            li.offers__item
                .offers__title Wedding battle
                button(type="button" data-id="9").offers__button Подробнее
            li.offers__item
                .offers__title Big show
                button(type="button" data-id="10").offers__button Подробнее
            li.offers__item
                .offers__title Live sound
                button(type="button" data-id="11").offers__button Подробнее
            li.offers__item
                .offers__title All inclusive 
                button(type="button" data-id="12").offers__button Подробнее


    .next-link.section-five__next-link.move-to-link(data-move-to="6") Почему нам доверяют?
        span
