.section_five {
  position: relative;
  @include disable-slides {
    padding-top: 90px;
    padding-bottom: 160px;
  }

  @media (max-width: 767px) {
    padding-top: 90px;
    padding-bottom: 160px;
  }
  @media (max-width: 1023px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include tablet {
    @include disable-slides {
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }

  @include vertical {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &:after {
    content: '';
    display: none;

    height: 100%;
    width: 50%;
    background: url(../images/bubble-pattern2.png) center;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: 5%;
    position: absolute;
    @include laptop() {
      display: block;
    }
  }
}

.section-five {
  @include laptop {
    margin-bottom: 0;
  }

  &__header {
    padding-top: 0;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    @media (max-width: $tablet-width) {
      padding-left: 0;
    }
    @include laptop {
      padding-top: 20px;
    }
  }

  @media (max-width: $laptop-width) {
    .section-title {
      position: relative;
      top: 0;
      padding-top: 10px;
      padding-right: 0;
    }
    .section-header {
      padding-right: 0;
      min-width: 0;
    }
    .section-header__text {
      padding-top: 0;
      width: 45%;
      display: none;

      @include tablet {
        display: block;
      }
      @include laptop() {
        width: 120px;
      }
    }
  }

  .section-header__text {
    @include laptop {
      display: none;
    }
    @include desktop() {
      width: 500px;
      margin-top: -20px;
      display: block;
    }
  }

  .section-title {
    white-space: nowrap;
    width: auto;
    padding-right: 20px;

    @include tablet {
      padding-right: 0;
      width: 155px;
      white-space: normal;
    }

    @include laptop() {
      width: 245px;
    }
  }

  &__next-link {
    display: none;

    @include laptop() {
      display: flex;
    }
  }

  .offers {
    @media (max-width: $laptop-width) {
      //margin-top: 155px;
    }
  }

  &__list {
  }
}
