.section_two {
  position: relative;
  margin-bottom: 30px;
  @media (max-width: 1024px) {
    @include vertical {
      padding-bottom: 40px;
    }
  }

  @include laptop {
    margin: 0;
    @include disable-slides {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  @media (min-width: 1100px) {
    @include disable-slides {
      padding-bottom: 80px;
    }
  }

  @include desktop {
    padding-bottom: 0;
    padding-top: 0;
  }

  &:after {
    content: '';
    display: none;

    width: 50%;
    transform: translateY(-50%);
    background: url(../images/section-two-photo.jpg) no-repeat top;

    height: 100%;
    right: 0;
    top: 50%;
    position: absolute;
    background-size: cover;
    opacity: 0.5;
    @include desktop() {
      width: 70%;
      display: block;
    }

    @media (min-width: 1700px) {
      width: 60%;
    }
  }

  &_wedding {
    &:after {
      background-image: url(../images/section-two-wedding.jpg);
    }
  }

  &_battle {
    &:after {
      background-image: url(../images/contacts-bg.jpg);

      @include laptop {
        display: none;
      }
    }

    .section-two__wrapper:before {
      z-index: 1;
    }
  }
}

.section-two {
  @include vertical {
    //margin-bottom: -100px;
  }

  .info-block {
    display: none;
  }

  &__tag {
    display: none;

    align-items: center;

    position: absolute;
    right: -30px;
    width: 200px;
    font-size: 20px;
    z-index: 20;
    bottom: 100px;

    &--white {
      color: white;
      right: 50px;
      bottom: 110px;
    }

    span {
      font-size: 44px;
      color: #FFED00;
      display: block;
      margin-right: 14px;
      margin-top: 7px;
    }

    @include desktop() {
      display: flex;

      right: -30px;
    }

    @include desktop {
      right: 30px;
    }
  }

  &__wrapper {
    min-height: 520px;

    &:before {
      content: '';
      width: 155px;
      height: 275px;
      bottom: 0;
      left: 0;
      position: absolute;
      background: url(../images/strip-pattern.png) center;
      z-index: -1;

      @include laptop() {
        width: 272px;
        height: 272px;
        bottom: 152px;
      }
    }
  }

  &__header {
    display: flex;
    padding-top: 30px;

    @include laptop() {
      z-index: 2;
      align-items: center;
      padding-top: 0;
      top: 26px;
      left: 0;
      width: 100%;
      padding-left: 67px;
      .section-header__text {
        max-width: 300px;
        padding-top: 0;
      }
    }
  }

  &__info {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
  }

  &__next-link {
    display: none;

    @include laptop() {
      display: flex;
    }
  }

  .section-title {
    @media (max-width: $laptop-width) {
      top: 0;
      padding-top: 10px;
    }
  }
}


.info-list {
  position: relative;
  z-index: 10;
  padding: 23px 20px 40px;
  background: white;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.25);

  &_opened {
    z-index: 15;
  }

  .offers__button {
    background: transparent;
    border-color: black;

    &:hover {
      border: 1px solid #FFED00;
      background: #FFED00;
      color: black;
    }
  }

  @include tablet {
    padding: 43px 40px 60px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 50px;
  }

  @include laptop() {
    position: relative;
    //width: 880px;
    padding: 25px 40px 60px;
    min-height: 496px;
    box-sizing: border-box;
    left: auto;
    transform: none !important;
    margin-top: 80px;

    max-width: 85%;
    margin-left: 90px;
    &:after, &:before {
      display: none;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 8px;
      background: #FFED00;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @include desktop() {
    margin-top: 50px;
    max-width: 67%;
    padding: 34px 47px 60px;
  }

  @include vertical {
    margin-top: 30px;
    padding: 20px;
  }

  &--type-2 {
    margin-bottom: 40px;

    @media (max-width: $tablet-width) {
      padding: 20px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      min-height: 0;
      padding: 20px 20px 60px;
      max-width: 95%;
      margin-left: 70px;
      margin-top: 100px;
    }

    @include desktop() {
      padding-top: 40px;
      min-height: 0;
      max-width: 65%;
      padding-bottom: 30px;
      .list__item {
        font-size: 22px;
        margin-bottom: 30px;
      }
    }

    @media (min-width: 1600px) {
      padding-bottom: 60px;
      .list__item {
        margin-bottom: 50px;
      }
    }
  }

  &--type-3 {
    padding: 30px;
    margin-bottom: 40px;

    @include laptop() {
      padding: 38px 20px;
      width: 60%;
      margin-left: 40px;
    }

    @include desktop() {
      padding-left: 40px;
      padding-right: 20px;
      z-index: 20;
      width: 60%;
    }

    @media (min-width: 1500px) {
      max-width: 840px;
      padding-right: 50px;
      z-index: 60;
    }
  }

  &:after {
    content: '';
    height: 8px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFED00;
  }


  &__link {
    display: none;

    font-size: 12px;
    position: absolute;
    left: 40px;
    bottom: 33px;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px dotted #DFDFDF;
    }

    @include laptop() {
      display: block;
    }
  }

  &__inner {
    display: flex;
    background: white;
    flex-wrap: wrap;

    &--between {
      justify-content: space-between;
    }

    @media (min-width: 650px) {
      flex-wrap: nowrap;
    }
  }

  &__number {
    font-size: 40px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      content: '';
      width: 32px;
      height: 1px;
      background: black;
      left: 0;
      bottom: 12px;
      position: absolute;
      display: block;
    }

    @include tablet {
      font-size: 50px;
    }
    @include laptop() {
      font-size: 60px;
      padding-bottom: 0;

      &:after {
        display: none;
      }
    }
  }

  &__col {
    box-sizing: border-box;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 650px) {
      padding-right: 55px;
      width: 50%;
      margin-bottom: 0;
    }
    @include laptop() {
      padding: 0;

      &:first-child {
        width: 45%;
      }

      &:last-child {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .info-list__number {
          width: 40%;
          text-align: right;
          min-width: 180px;
        }

        .info-list__text {
          width: 60%;
        }
      }
    }

    @include desktop() {
      &:first-child,
      &:last-child {
        width: 50%;
      }
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.5em;

    padding-left: 15px;
    margin-top: -15px;
    min-width: 80px;

    @include laptop() {
      position: relative;
      margin-top: 0;
      line-height: 1.7em;
      padding-left: 21px;
      padding-top: 31px;
      font-size: 16px;
      padding-right: 10px;
      min-height: 85px;
      box-sizing: border-box;
      //max-width: 200px;
      &:before {
        content: '';
        width: 32px;
        height: 1px;
        background: black;
        position: absolute;
        left: 20px;
        top: 16px;
      }
    }
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include laptop() {
      align-items: flex-start;
      margin-bottom: 30px;
    }

    @include desktop {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include vertical {
      margin-bottom: 15px;
    }
  }

  &__footer {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

    @include tablet {
      display: flex;
    }

    @include vertical {
      margin-top: 20px;
    }


    .offers__button {
      margin-bottom: 15px;
      width: 32%;
      position: static;
      white-space: nowrap;

    }
  }
}

