mixin section-two()
    .section-two
        .section-two__wrapper
            .section-two__tag
                span #
                | Дарим счастливые моменты

            .section-two__header.container.section-header
                .section-two__title.section-title Давайте знакомиться!
                .section-header__text Несколько фактов о нас в цифрах
            .info-list-wrapper
                .info-list
                    .section-two__info.info-block.scrollable-content
                        .info-block__inner
                            .info-block__title Лучшие ведущие в Челябинске для вашего праздника!
                            .info-block__text Существует мнение, что ведущий является приложением к хорошо организованному мероприятию. Якобы, если выбран шикарный ресторан, красиво оформлен, придумана концепция, значит, ведущему этого события достаточно просто соответствовать, а гости и так пришли веселиться, поэтому оценят праздник по достоинству. Однако, это глубокое заблуждение. Безусловно, все вышеперечисленное важно при подготовке к мероприятию. Но порой от ведущего зависит намного больше. На самом деле, он – главный творец атмосферы и хорошего настроения присутствующих гостей. А профессиональный ведущий сможет даже из плохо организованного мероприятия сделать запоминающееся событие! Очень важна импровизация, а также умение расположить гостей и к себе, и к окружающей обстановке. А если вдруг во время мероприятия возникают какие-то непредвиденные моменты, ведущий должен уметь с легкостью выходить из неудобной ситуации, отвлечь внимание гостей и представить все таким образом, словно так и было задумано. Уместный юмор во многих случаях станет прекрасным решением возникшей проблемы. Профессиональный ведущий в Челябинске не работает по шаблону. Он четко следует обговоренному с заказчиком сценарию и уделяет внимание всем значимым деталям, а также умеет подстраиваться под любую ситуацию и удержать внимание гостей.
                            .info-block__text Безусловно, каждый решает сам, какой должен быть ведущий на юбилей, ведущий на корпоратив, ведущий на выпускной или свадьбу. Шоумен или тамада, конферансье или стендап-комик – любой стиль обладает своими отличительными чертами. И заказчик выбирает наиболее подходящий вариант для своего события, которые в свою очередь могут отличаться друг от друга кардинально. И хороший ведущий Челябинск должен полностью соответствовать типу мероприятия.

                            .info-block__title Профессионализм-залог успеха вашего праздника!
                            .info-block__text Дуэт ведущих Андрей и Татьяна обладают необходимым опытом и навыками, чтобы украсить ваше событие. Помимо праздничных, корпоративных и частных событий в их послужном списке проведение официальных мероприятий. Представительный внешний вид, профессионализм, грамотная речь и четкая дикция, интеллигентное поведение, умение заинтересовать и удерживать публику, внимание к значимым деталям, отличная импровизация, удовлетворение пожеланий заказчика – все это залог успешной работы на протяжении многих лет. Оригинальный сценарий, множество креативных идей, авторские интерактивы и конкурсы – составляющие ярких шоу-программ. Все это дуэт ведущих в Челябинске Андрей и Татьяна.
                            .info-block__text Если вам нужны ведущие на праздник в Челябинске, ведущий на корпоратив, ведущий на Новый год в Челябинске, Андрей и Татьяна –это самый привлекательный вариант по ценовой политике в регионе. Они работают не только в Челябинске, но и в других городах области. Потрясающий праздник теперь доступен каждому! Ваши гости несомненно останутся довольны, а вы станете еще чуточку счастливее! Ведущие Андрей и Татьяна – это те самые ведущие на мероприятие любого масштаба, которые сделают ваше торжество самым запоминающимся событием!

                        .info-block__bottom
                            .info-block__close.close-btn
                                span
                                | Назад
                    .info-list__inner
                        .info-list__col
                            .info-list__item
                                .info-list__number 2
                                .info-list__text Два интеллигентных ведущих приятной внешности
                            .info-list__item
                                .info-list__number 5+
                                .info-list__text Команда профессионалов
                            .info-list__item
                                .info-list__number 7+
                                .info-list__text Более 7 лет успешного опыта проведения мероприятий

                        .info-list__col
                            .info-list__item
                                .info-list__number 90%
                                .info-list__text Ваших гостей не видели подобной шоу-программы
                            .info-list__item
                                .info-list__number 100%
                                .info-list__text соответствия вашему мероприятию
                            .info-list__item
                                .info-list__number 5000+
                                .info-list__text Более 5000 довольных гостей
                    .info-list__link Лучшие ведущие для вашего мероприятия
        .next-link.section-two__next-link.move-to-link(data-move-to="3") Где мы работаем?
            span
