mixin section-two()
    .section-two
        .section-two__wrapper
            .section-two__tag
                span #
                | Дарим счастливые моменты

            .section-two__header.container.section-header
                .section-two__title.section-title Давайте знакомиться!
                .section-header__text Несколько фактов о нас в цифрах
            .info-list-wrapper
                .info-list
                    .section-two__info.info-block.scrollable-content
                        .info-block__inner
                            .info-block__title Лучшие ведущие в Челябинске для вашего праздника!
                            .info-block__text Существует мнение, что ведущий является приложением к хорошо организованному мероприятию. Якобы, если выбран шикарный ресторан, красиво оформлен, придумана концепция, значит, ведущему этого события достаточно просто соответствовать, а гости и так пришли веселиться, поэтому оценят праздник по достоинству. Однако, это глубокое заблуждение. Безусловно, все вышеперечисленное важно при подготовке к мероприятию. Но порой от ведущего зависит намного больше. На самом деле, он – главный творец атмосферы и хорошего настроения присутствующих гостей. А профессиональный ведущий сможет даже из плохо организованного мероприятия сделать запоминающееся событие! Очень важна импровизация, а также умение расположить гостей и к себе, и к окружающей обстановке. А если вдруг во время мероприятия возникают какие-то непредвиденные моменты, ведущий должен уметь с легкостью выходить из неудобной ситуации, отвлечь внимание гостей и представить все таким образом, словно так и было задумано. Уместный юмор во многих случаях станет прекрасным решением возникшей проблемы. Профессиональный ведущий в Челябинске не работает по шаблону. Он четко следует обговоренному с заказчиком сценарию и уделяет внимание всем значимым деталям, а также умеет подстраиваться под любую ситуацию и удержать внимание гостей.
                            .info-block__text Безусловно, каждый решает сам, какой должен быть ведущий на юбилей, ведущий на корпоратив, ведущий на выпускной или свадьбу. Шоумен или тамада, конферансье или стендап-комик – любой стиль обладает своими отличительными чертами. И заказчик выбирает наиболее подходящий вариант для своего события, которые в свою очередь могут отличаться друг от друга кардинально. И хороший ведущий Челябинск должен полностью соответствовать типу мероприятия.

                            .info-block__title Профессионализм-залог успеха вашего праздника!
                            .info-block__text Дуэт ведущих Андрей и Татьяна обладают необходимым опытом и навыками, чтобы украсить ваше событие. Помимо праздничных, корпоративных и частных событий в их послужном списке проведение официальных мероприятий. Представительный внешний вид, профессионализм, грамотная речь и четкая дикция, интеллигентное поведение, умение заинтересовать и удерживать публику, внимание к значимым деталям, отличная импровизация, удовлетворение пожеланий заказчика – все это залог успешной работы на протяжении многих лет. Оригинальный сценарий, множество креативных идей, авторские интерактивы и конкурсы – составляющие ярких шоу-программ. Все это дуэт ведущих в Челябинске Андрей и Татьяна.
                            .info-block__text Если вам нужны ведущие на праздник в Челябинске, ведущий на корпоратив, ведущий на Новый год в Челябинске, Андрей и Татьяна –это самый привлекательный вариант по ценовой политике в регионе. Они работают не только в Челябинске, но и в других городах области. Потрясающий праздник теперь доступен каждому! Ваши гости несомненно останутся довольны, а вы станете еще чуточку счастливее! Ведущие Андрей и Татьяна – это те самые ведущие на мероприятие любого масштаба, которые сделают ваше торжество самым запоминающимся событием!

                        .info-block__bottom
                            .info-block__close.close-btn
                                span
                                | Назад
                    .info-list__inner
                        .info-list__col
                            .info-list__item
                                .info-list__number 2
                                .info-list__text Два интеллигентных ведущих приятной внешности
                            .info-list__item
                                .info-list__number 5+
                                .info-list__text Команда профессионалов
                            .info-list__item
                                .info-list__number 7+
                                .info-list__text Более 7 лет успешного опыта проведения мероприятий

                        .info-list__col
                            .info-list__item
                                .info-list__number 90%
                                .info-list__text Ваших гостей не видели подобной шоу-программы
                            .info-list__item
                                .info-list__number 100%
                                .info-list__text соответствия вашему мероприятию
                            .info-list__item
                                .info-list__number 5000+
                                .info-list__text Более 5000 довольных гостей
                    .info-list__link Лучшие ведущие для вашего мероприятия
        .next-link.section-two__next-link.move-to-link(data-move-to="3") Где мы работаем?
            span

mixin section-two-wedding()
    .section-two
        .section-two__wrapper
            .section-two__tag
                span #
                | Дарим счастливые моменты

            .section-two__header.container.section-header
                .section-two__title.section-title Самое лучшее для вас!
                .section-header__text Мы поможем организовать свадьбу мечты
            .info-list-wrapper
                .info-list.info-list--type-2
                    .section-two__info.info-block.scrollable-content
                        .info-block__inner
                            .info-block__title Ведущий на свадьбу в Челябинске
                            .info-block__text Ни для кого не секрет, что свадебное торжество является одним из самых важных событий в жизни каждого человека. Этот день всегда наполнен радостными, счастливыми моментами, яркими эмоциями, улыбками и прекрасным настроением. Очень многое зависит от хорошей организации торжества. Подготовка к свадьбе требует огромное количество времени и сил. Даже если организацией торжества будет заниматься свадебное агентство, все равно молодожены будут переживать о том, чтобы в свадебный день все прошло идеально. Необходимо уделить внимание различным мелочам, и, конечно, найти специалистов, которые качественно выполнят возложенные на них обязательства, в которых молодожены будут уверены и им не придется переживать за результат.
                            .info-block__text Существует мнение, что хороший свадебный ведущий – это половина праздника. Однако, иногда приходится слышать неверное суждение молодоженов, что от ведущего не так много зависит – самое главное, чтобы гости были активными, а значит, они сами смогут себя развлекать и веселиться. Безусловно, когда гости позитивно настроены, - это облегчает работу ведущему на свадьбе, но задача ведущего заключается не только в том, чтобы развлекать гостей своими конкурсами искрометным юмором. Он должен организовать гостей, предусмотреть всевозможные детали, наполнить программу необходимыми частями, присущими свадебному торжеству. Свадьба – это сочетание веселых и трогательных моментов, конкурсов и традиций, поздравлений и танцев. Важно создать такой сценарий свадьбы, в котором молодожены и гости могли испытать всю гамму счастливых, радостных и восторженных эмоций. И конечно же, помимо заготовленного сценария, профессиональный ведущий на свадьбу должен быть готов к непредвиденным ситуациям, которые могут возникнуть в ходе мероприятия, и с легкостью выходить из них, давая понять всем присутствующим, что именно так и было запланировано.
                            .info-block__text В настоящее время большинство представителей event-индустрии стараются отойти от такого понятия как тамада на свадьбу, чаще позиционируя себя ведущим или шоуменом. На самом деле, абсолютно не важно, как ты называешься, главное – кем ты являешься и как проводишь мероприятие. Отсутствие устаревших конкурсов и пошлых шуток, интеллигентное поведение, хорошая импровизация, отличное взаимодействие с гостями – наиболее частые требования при выборе ведущего на свадьбу. Довольно часто молодожены просят, чтобы во время мероприятия ведущий решал еще и организационные вопросы. К сожалению, это сделать не так просто, поскольку он находится в процессе проведения свадьбы, и не может оставить гостей без внимания. Для решения организационных вопросов принято приглашать свадебного координатора. Тогда и торт вам привезут в назначенное время, и ведущий будет всегда с гостями. Но есть и еще одно простое, но очень хорошее решение – пригласить дуэт ведущих на свадьбу Челябинск! Конечно, это не означает, что один из них будет работать на публике, а второй в подсобке заниматься координированием праздника. Но какие-то возникающие вопросы могут быть решены абсолютно незаметно, поскольку один человек из дуэта всегда сможет заниматься своими основными обязанностями – создание праздничной атмосферы и развлечением гостей.

                            .info-block__title Дуэт ведущих на свадьбу Андрей и Татьяна
                            .info-block__text Если вам нужны ведущие на свадьбу в Челябинске, Андрей и Татьяна – прекрасный вариант, чтобы сделать ваш праздник не только ярким, зажигательным и неповторимым, но и сохранить атмосферу теплого, семейного вечера, в котором есть место и трогательным моментам и безудержному веселью. Индивидуальный подход, внимание к деталям, удовлетворение пожеланий во время подготовки к мероприятию , а также уважительное отношение к гостям и не наигранное, искреннее проведение торжества – залог душевной и незабываемой свадьбы.
                            .info-block__text Кроме того, в арсенале ведущих имеет уникальная авторская программа 
                                a(href="/weddingbattle").link WeddingBattle
                                | , в которой на одной свадьбе присутствуют и современный ведущий и традиционная тамада. Замечательный вариант, чтобы объединить разные поколения на своем празднике, а также удивить своих гостей необычной программой.
                            .info-block__text Не всегда больше, значит лучше. Но в данном случае два ведущих – это бесспорное преимущество. А если за это еще и не нужно переплачивать, то совсем не остается сомнений, что Андрей и Татьяна – идеальный дуэт ведущих на Свадьбу в Челябинске, в соседний регионах, да и вообще по всей России!

                        .info-block__bottom
                            .info-block__close.close-btn
                                span
                                | Назад

                    .info-list__inner.info-list__inner--between
                        ul.list.list--style-2
                            li.list__item Два интеллигентных ведущих приятной внешности и&nbsp;большим количество интересных идей
                            li.list__item Артисты различных жанров
                            li.list__item Индивидуальный подход и&nbsp;удовлетворение пожеланий по&nbsp;проведению мероприятия
                            li.list__item Сюрпризы для гостей и&nbsp;виновников торжества
                        ul.list.list--style-2
                            li.list__item Не&nbsp;менее симпатичный диджей с&nbsp;качественным оборудованием и&nbsp;огромной музыкальной базой
                            li.list__item Живая музыка на&nbsp;мероприятии
                            li.list__item Современные конкурсы без пошлости, интересные людям разного поколения
                            li.list__item Множество позитивных эмоций и&nbsp;искренних улыбок
                    .info-list__link Ведущий на свадьбу в Челябинске
        .next-link.section-two__next-link.move-to-link(data-move-to="3") 5 шагов к свадьбе мечты
            span

mixin section-two-wedding-battle()
    .section-two
        .section-two__wrapper
            .section-two__tag.section-two__tag--white
                span #
                | Дарим счастливые моменты

            .section-two__header.container.section-header
                .section-two__title.section-title Что такое Wedding Battle?
                .section-header__text Отличный способ удивить ваших гостей!
            .info-list-wrapper
                .info-list.info-list--type-3
                    .section-two__info.info-block.scrollable-content
                        .info-block__inner
                            .info-block__title Подробнее о программе Wedding Battle
                            .info-block__text Давно известно, что существует множество вариантов названия профессии ведущего развлекательных и торжественных мероприятий. Кого-то называют артистом, кого-то тамадой, кто-то является конферансье, а кто-то именует себя шоуменом. Есть такая пословица: «Как корабль назовешь, так он и поплывет». В данному случае это не работает. Все зависит от стиля, которого придерживается ведущий, от репертуара, от манеры поведения и т.д. Вряд ли про человека, у которого широкая русская душа, полная сумка костюмов для образа Валерия Леонтьева или Верки Сердючки и огромное желание с гостями затянуть застольную песню, скажут, что он проводит мероприятия в современном, инновационном стиле. Конечно, это все стереотипы. Безусловно. Но посетив множество свадеб в качестве гостей в 2009-2012 гг., для себя мы тоже подчеркнули, что есть «старый» стиль проведения и «новый». Условно для себя представителей этих стилей мы назвали «тамада» и «современный ведущий». И большинство представителей event-индустрии в настоящее время причисляют себя ко второму типу. Причем делают на этом акцент и выдают за преимущество. Типа я не тамада на празднике, у меня только ультрамодные тенденции! Это немного забавно слышать. Но будучи представителями нового поколения, второй тип нам тоже ближе. Да, конечно, сейчас уже современный стиль проведения мероприятий с трудом можно назвать инновационным, поскольку многие ведущие копируют друг друга, заимствуют конкурсы, фишки, шутки и даже целые сценарии! Но речь сейчас не идет о плагиате. Дело в том, что в последнее время все чаще приходится слышать от гостей или обслуживающего персонала мероприятия, что везде одно и то же. Представляете, уже «современный стиль» становится баяном! Раньше все плевались от «душераздирающих» тостов тамады, ее пышной прически, потрясающей встречи молодоженов в коридоре из гостей с ленточками, увлекательных квестов с бутылками и карандашами, сексуальных конкурсов с маканием пакетика чая в кружку и возбуждающих игр с лопанием шарика между телами «гостей». Сейчас всем уже надоедают представления одних и тех же артистов от свадьбы к свадьбе, конкурсы, взятые из популярных телевизионных программ, или видеорепортажи с мероприятий. Хотя для некоторых все это до сих пор в новинку! Наверное, просто еще не успели так сильно укрепиться в сознании целых поколений!!! Но придет время, и появится новый, совершенно иной стиль проведения мероприятий. Индустрия не стоит на месте. И развитие это круто! И каждый ведущий старается сделать так, чтобы именно его мероприятия были оригинальными, чтобы только у него были какие-то фишки, которых нет у других.

                            .info-block__title Ведущий и тамада на свадьбу в Челябинске
                            .info-block__text Для себя мы поняли, что можно усовершенствовать нашу стандартную программу или даже повернуть ее в другое направление, немного обратив к прошлому. Все-таки свадьба – это зачастую торжество, где собираются люди разных возрастов, интересов, социального положения, мнений и т.д. Значит, нужно максимально удовлетворить потребности и ожидания большинства. И сделать это не путем прогибания и угождения всем и каждому, а заложить в сценарий возможность охватывать интересы различной публики и работать в нескольких направлениях. Собственно, нас двое, поэтому как минимум две роли мы можем на себя взять одновременно. А поскольку частенько возникают разговоры о том, кто ты тамада или шоумен, почему бы не примерить на себя оба этих «наряда». Безусловно, и тот, и другой имеют стереотипы, на которые мы делаем акцент и поддаем доброй иронии в нашем сценарии.
                            .info-block__text Какие же преимущества имеет подобная шоу-программа по сравнению с другими?
                            .info-block__text Во-первых, это очень удобная программа для тех, кто еще не определился со стилем своей свадьбы или хочет угодить большинству гостей. Ведь все мы знаем, сколько людей, столько мнений. Вполне возможно, кому-то нравятся торжественные, стихотворные речи тамады с длинными, красивыми тостами, а кто-то любит, когда ведущий в интеллигентной, но юмористичной манере ведет общение с гостями на простом и понятном языке. И для той, и для другой аудитории у нас есть «персонаж». Таким образом, мы объединяем разные поколения! В нашем дуэте Татьяна изобилует красивыми речами с использованием устаревших словосочетаний, Андрей же ведет мероприятие на современном сленге. Но всего этого в меру, без «перебарщивания». Это всего лишь способ подчеркнуть тот или иной стиль. В основном же, оба ведущих общаются как нормальные, культурные люди. Самое главное, что сама концепция свадьбы не ломается. Безусловно, молодожены – главные люди на торжестве, все внимание приковано к ним, а все необходимые/обговоренные этапы свадьбы: встреча молодоженов, поздравления, домашний очаг, свадебный торт и т.д – все соблюдается. По сути мы всего лишь обыгрываем любую свадебную традицию на нужный лад.
                            .info-block__text Здесь хочется остановиться и рассказать поподробнее, почему мы до сих пор не упразднили все подобные конкурсы. В последнее время мы часто слышим от друзей, знакомых и наших молодоженов, которые недавно бывали на свадьбах, что ведущие стали перебарщивать с современными конкурсами. Используют много новомодных фишек, которые не всегда заходят и не все их понимают. Есть сейчас такая тенденция, что гостей на свадьбе практически не дергают для участия в конкурсах, а устраивают театрализованное шоу: приглашают артистов, показывают видео или интерактивные игры с использованием экрана/проектора и т.д. Так вот, мы не раз слышали, что гостям не хватает активных конкурсов. Именно тех, где они могут стать участниками, подурачиться, проявить себя. Т.е многие люди еще не готовы полностью перейти на новизну. Все равно душа просит чего-нибудь «старенького». И вот тут очень удобно, что есть некая тамада Челябинск, которая предложит именно такой конкурс. И опять же это не будет выглядеть по-совдеповски. Во-первых, потому что откровенно «тамадинских» конкурсов у нас нет (все так или иначе переделано на современный лад). А во-вторых, все очень гармонично вписывается в сценарий. И ни у одного гостя не появится даже мысли, что это какой-то заезженный свадебный конкурс. Все будут думать, что программа очень оригинальная. И это правда! Во-первых, большинство конкурсов у нас авторские, а во-вторых, подобной программы Wedding Battle действительно нет!! И это огромное преимущество!!!
                            .info-block__text Еще одним бесспорным преимуществом является отсутствие необходимости приглашать дополнительных артистов. Сама по себе программа самодостаточная. И Андрей, и Татьяна в какой-то степени выступают в роли артистов. Да мы не поем, не танцуем профессионально. Но мы всегда сможем спровоцировать гостей на яркие действия или помочь им в этом, если они немного стесняются. Данное «преимущество» в большей степени относится к случаям, когда есть необходимость сэкономить средства. Если же с ними проблем нет, и есть желание, то разнообразить свое мероприятие приглашением артистов различного жанра всегда будет плюсом. Если нет, то ребята из дуэта ведущих Андрей и Татьяна возьмут все на себя.
                            .info-block__text И напоследок. Есть еще моменты, которые хотелось бы сохранить в секрете. Пусть это останется сюрпризами для молодоженов и их гостей!
                            .info-block__text Все вышесказанное - это не агитация заказать именно эту программу. Поверьте, что так называемая «стандартная» программа не будет скучнее. Мы все те же, и принципы такие же у нас: ведущие - интеллигентные, культурные люди; всем гостям весело и комфортно; молодожены наслаждаются праздником, и он запоминается им на долгие-долгие годы!

                        .info-block__bottom
                            .info-block__close.close-btn
                                span
                                | Назад

                    .info-list__inner
                        +battle-info()
                    .video-card
                        a(href="https://www.youtube.com/watch?v=ffi3-eXqDc4")
                            .play-btn.video-card__play
                            img(src="images/step-nine.jpg")

                    .info-list__link Тамада на свадьбу и юбилей в Челябинске
        .next-link.section-two__next-link.move-to-link(data-move-to="3") 5 шагов к свадьбе мечты
            span
