.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 20px;
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 5;

  @include laptop() {
    width: calc(100% - 70px);
    top: 25px;
    left: 30px;
    padding-left: 0;
  }

  @include desktop {
    //left: 80px;
    box-sizing: border-box;
    width: calc(100% - 100px);
  }

  &__logo {
    color: white;
    text-decoration: none;
    font-size: 12px;
    align-items: center;
    padding-right: 31px;
    position: relative;

    display: none;

    @include tablet {
      display: flex;
    }
    @include vertical {
      display: flex;
    }

    @include laptop() {
      font-size: 18px;
      display: none;
    }

    @include desktop {
      display: flex;
    }

    &:after {
      content: '';
      height: 1px;
      width: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: white;
      display: none;

      @include tablet {
        display: block;
      }

      @include desktop {
        display: none;
      }
    }

    img {
      margin-right: 10px;
    }
  }
}
