.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px 20px;
  position: absolute;
  left: 0;
  top: 15px;

  @include laptop() {
    width: calc(100% - 70px);
    top: 25px;
    left: 80px;
    padding-left: 0;
  }

  &__logo {
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-right: 31px;
    position: relative;
    @include laptop() {
      font-size: 18px;
    }

    &:after {
      content: '';
      height: 1px;
      width: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: white;
    }

    img {
      margin-right: 10px;
    }
  }
}
