.battle-info {

  &__list {
    padding: 0;
    margin: 0;
    max-width: 750px;
    @include tablet() {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .list__item {
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 500;
    margin-bottom: 10px;
    @include tablet() {
      width: 50%;
      padding-right: 20px;
      margin-bottom: 30px;
    }

    @include desktop() {
      font-size: 22px;
    }
  }

  &__tag {
    font-size: 20px;
    color: #FFED00;
    margin-bottom: 21px;
    @include laptop() {
      margin-bottom: 35px;
      font-size: 24px;
    }
  }

  &__inside {
    margin-top: 20px;
    @include tablet() {
      margin-top: 3px;
      padding-left: 23px;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 19px;

    @include desktop() {
      font-size: 20px;
    }
  }

  &__ending {
    font-size: 20px;
    margin-top: 42px;

    @include desktop() {
      font-size: 24px;
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }
}


.video-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  margin-top: 30px;
  margin-bottom: 30px;

  span {
    display: none !important;
  }

  a {
    display: flex;
    text-decoration: none;
    align-items: center;
    position: relative;

    &:after {
      content: 'Смотреть видео';
      color: black;
      font-size: 20px;
      position: relative;

      font-family: inherit;
      display: block;
      margin-left: 20px;

      @include laptop {
        display: none;
      }
    }
  }

  img {
    display: none;
    max-width: 100%;

    @include laptop() {
      display: none;
    }
  }

  @include tablet {
    margin-bottom: 0;
  }
  @include laptop() {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    right: 0;
    left: auto;
    background: url(../images/step-nine.jpg) no-repeat center;
    background-size: cover;

    height: 100%;
    width: 40%;
    top: 0;
    transform: none;
    z-index: 0;

  }

  @include desktop() {
    margin-top: 0;
    transform: none;
    top: 0;
    width: 37vw;
    height: calc(100% - 55px);
    right: 0;
    box-sizing: border-box;
  }

  @media (min-width: 1400px) {
    right: 0;
    width: 50%;
  }

  &__play {
    position: relative;
    @include laptop {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  &:after {
    @include laptop {
      content: '';
      width: 100%;
      height: 100%;
      background: white;
      position: absolute;
      opacity: 0.4;
      z-index: 1;
    }
  }
}
