.battle-info {

  &__list {
    padding: 0;
    margin: 0;
    max-width: 690px;
    @include tablet() {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .list__item {
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 500;
    margin-bottom: 10px;
    @include tablet() {
      width: 50%;
      padding-right: 20px;
      margin-bottom: 30px;
    }

    @include desktop() {
      font-size: 20px;
    }
  }

  &__tag {
    font-size: 20px;
    color: #FFED00;
    margin-bottom: 21px;
    @include desktop() {
      font-size: 24px;
    }
  }

  &__inside {
    margin-top: 20px;
    @include tablet() {
      margin-top: 3px;
      padding-left: 23px;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 19px;
  }

  &__ending {
    font-size: 20px;
    margin-top: 42px;

    @include desktop() {
      font-size: 24px;
    }
  }
}


.video-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 12;

  img {
    max-width: 100%;

    @include laptop() {
      display: none;
    }
  }

  @include laptop() {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
    background: url(../images/step-nine.jpg) no-repeat center;
    background-size: cover;

    width: 37%;
    height: 75%;
    margin-top: 2%;

  }

  @include desktop() {
    margin-top: 0;
    transform: none;
    top: 0;
    width: 40vw;
    height: calc(100% - 55px);
    right: 0;
    box-sizing: border-box;
  }

  @media (min-width: 1400px) {
    right: 2%;
    width: 45vw;
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
