mixin battle-info()
    .battle-info
        .battle-info__content
            ul.battle-info__list.list
                li.list__item объединение двух поколений
                li.list__item современные конкурсы
                li.list__item тематические интерактивы
                li.list__item антураж исконно русского стиля
            .battle-info__inside
                .battle-info__tag #WeddingBattle
                p.battle-info__text Это не стеб над одним из стилей
                p.battle-info__text Это не приторное наполнение программы современными фишками
                p.battle-info__text Это не использование всех известных традиций по шаблону
                p.battle-info__ending Wedding Battle - это #Традиции в инновациях
