.main-menu {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 10;

  @include laptop {
    display: flex;
    top: 59px;
    left: -2px;
  }

  @include desktop {
    //left: 48px;
    //top: 50px;

    //left: 50%;
    //transform: translateX(-50%);

    top: 43px;
    right: 340px;
    left: auto;
  }

  @media (min-width: 1500px) {
  }

  &__item {
    margin-left: 35px;
  }

  &__link {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    position: relative;

    &:after {
      content: '';
      width: 100%;
      border-bottom: 1px solid #FFED00;
      position: absolute;
      left: 0;
      top: 120%;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}
