mixin mosaic()
    .mosaic
        .mosaic__controls
        .mosaic__inner
            .mosaic__slide
                .mosaic__row
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/1/1.Ведущая Челябинск_1.jpg')" href="images/mosaic/1/1.Ведущая Челябинск.jpg")
                    .mosaic__image.mosaic__image_wide
                        a.lazy.video(href="https://www.youtube.com/watch?v=m5reUH_Dajo" data-bg="url('http://i3.ytimg.com/vi/m5reUH_Dajo/maxresdefault.jpg')")
                            span.play-btn
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/1/3.Ведущий Челябинск_1.jpg')" href="images/mosaic/1/3.Ведущий Челябинск.jpg")
                .mosaic__row
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/1/4.Ведущая на праздник Челябинск_1.jpg')" href="images/mosaic/1/4.Ведущая на праздник Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/1/5.Лучший ведущий в Челябинске_1.jpg')" href="images/mosaic/1/5.Лучший ведущий в Челябинске.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/1/6.Ведущая на корпоратив Челябинск_1.jpg')" href="images/mosaic/1/6.Ведущая на корпоратив Челябинск.jpg")
            .mosaic__slide
                .mosaic__row
                    .mosaic__image.mosaic__image_wide
                        //a.lazy(data-bg="url('images/mosaic/2/1.Дуэт ведущих Челябинск_1.jpg')" href="images/mosaic/2/1.Дуэт ведущих Челябинск.jpg")
                        a.lazy.video(href="https://www.youtube.com/watch?v=Y_N62a1KXiU" data-bg="url('http://i3.ytimg.com/vi/Y_N62a1KXiU/maxresdefault.jpg')")
                            span.play-btn
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/2/2.Ведущая на юбилей Челябинск_1.jpg')" href="images/mosaic/2/2.Ведущая на юбилей Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/2/3.Ведущий на юбилей Челябинск_1.jpg')" href="images/mosaic/2/3.Ведущий на юбилей Челябинск.jpg")
                .mosaic__row
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/2/4.Ведущий на корпоратив Челябинск_1.jpg')" href="images/mosaic/2/4.Ведущий на корпоратив Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/2/5.Ведущие на праздник Челябинск_1.jpg')" href="images/mosaic/2/5.Ведущие на праздник Челябинск.jpg")
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/2/6.Ведущая на праздник Челябинск_1.jpg')" href="images/mosaic/2/6.Ведущая на праздник Челябинск.jpg")

            .mosaic__slide
                .mosaic__row
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/3/1.Ведущий на Новый год Челябинск_1.jpg')" href="images/mosaic/3/1.Ведущий на Новый год Челябинск.jpg")
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/3/2.Лучшие ведущие в Челябинске_1.jpg')" href="images/mosaic/3/2.Лучшие ведущие в Челябинске.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/3/3.Ведущие Андрей и Татьяна Челябинск_1.jpg')" href="images/mosaic/3/3.Ведущие Андрей и Татьяна Челябинск.jpg")
                .mosaic__row
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/3/4.Ведущие Андрей и Татьяна Челябинск_1.jpg')" href="images/mosaic/3/4.Ведущие Андрей и Татьяна Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/3/5.Ведущая Челябинск_1.jpg')" href="images/mosaic/3/5.Ведущая Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/3/6.Дуэт ведущих Андрей и Татьяна Челябинск_1.jpg')" href="images/mosaic/3/6.Дуэт ведущих Андрей и Татьяна Челябинск.jpg")

            .mosaic__slide
                .mosaic__row
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/4/1.Ведущий Челябинск_1.jpg')" href="images/mosaic/4/1.Ведущий Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/4/2.Ведущие на юбилей Челябинск_1.jpg')" href="images/mosaic/4/2.Ведущие на юбилей Челябинск.jpg")
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/4/3.Ведущие на корпоратив Челябинск_1.jpg')" href="images/mosaic/4/3.Ведущие на корпоратив Челябинск.jpg")
                .mosaic__row
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/4/4.Дуэт ведущих Андрей и Татьяна Челябинск_1.jpg')" href="images/mosaic/4/4.Дуэт ведущих Андрей и Татьяна Челябинск.jpg")
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/4/5.Ведущий на корпоратив Челябинск_1.jpg')" href="images/mosaic/4/5.Ведущий на корпоратив Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/4/6.Ведущий на праздник Челябинск_1.jpg')" href="images/mosaic/4/6.Ведущий на праздник Челябинск.jpg")

            .mosaic__slide
                .mosaic__row
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/5/1.Лучшие ведущие в Челябинске_1.jpg')" href="images/mosaic/5/1.Лучшие ведущие в Челябинске.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/5/2.Ведущие на Новый год Челябинск_1.jpg')" href="images/mosaic/5/2.Ведущие на Новый год Челябинск.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/5/3.Ведущиая в Челябинске_1.jpg')" href="images/mosaic/5/3.Ведущиая в Челябинске.jpg")
                .mosaic__row
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/5/4.Дуэт ведущих в Челябинске_1.jpg')" href="images/mosaic/5/4.Дуэт ведущих в Челябинске.jpg")
                    .mosaic__image.mosaic__image_wide
                        a.lazy(data-bg="url('images/mosaic/5/5.Ведущие в Челябинске_1.jpg')" href="images/mosaic/5/5.Ведущие в Челябинске.jpg")
                    .mosaic__image
                        a.lazy(data-bg="url('images/mosaic/5/6.Ведущий в Челябинске_1.jpg')" href="images/mosaic/5/6.Ведущий в Челябинске.jpg")

