mixin slider()
    .slider
        .slider__inner
            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/1.jpg" alt="Андрей и Елена")
                        .slider__title-wrapper
                            .slider__title Андрей и Елена
                    .slider__text.scrollable-content Хотите, что бы ваш праздник запомнился вам до глубоких седин? Значит эта восхитительная пара для вас!!! Умопомрачительные конкурсы, внимание каждому гостю, сюрпризы...короче ФЕЕРИЯ!!!))) Всё интеллигентно, весело и красиво!!! Андрей, Татьяна, громадное спасибо за прекрасный праздник, некоторые гости всё ещё под впечатлением от Вас!!!))))

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/2.jpg" alt="Юлия, организатор чемпионата Open Epil")
                        .slider__title-wrapper
                            .slider__title Юлия, организатор чемпионата Open Epil
                    .slider__text.scrollable-content Хочу поблагодарить Андрея и Татьяну за проведение нашего мероприятия Независимого Чемпионата Профессиональной Эпиляции Open Epil 2016, который проходил 28 мая в Челябинске. Со стороны организатора чемпионата мне кажется, что провести такое мероприятие довольно сложно в эмоциональном плане, хотя может я ошибаюсь… Ведь профессионалам все по плечу) Чемпионат – это накал страстей, волнения участников, эмоции зашкаливают, все хотят победить, ну или почти все. И так важно при этом поддержать атмосферу позитива и тепла. Ребята справились с этим на 100%! Спасибо Вам огромное!

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/3.jpg" alt="Ирина и Александр")
                        .slider__title-wrapper
                            .slider__title Ирина и Александр
                    .slider__text.scrollable-content Дорогие Андрей и Татьяна! Спасибо вам огромное, за наш праздник, за ту атмосферу позитива и драйва, которую вы нам подарили! Ни разу не пожалели, что выбрали именно вас. Как инь и ян, дополняете друг друга, и торжество получилось таким разносторонним, и трогательным, и веселым одновременно)) Понравилось всем - и нашим молодым и энергичным гостям, и нашим взрослым родителям! Все после свадьбы подходили и говорили - Какие крутые ребята у вас вели вечер! Отдельный респект Андрею от наших Мам дорогих!))) Им тоже очень понравилось)) А видео-сюрприз в конце вечера просто "положил" всех))) Спасибо вам огромное!
            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/4.jpg" alt="Ольга")
                        .slider__title-wrapper
                            .slider__title Ольга, организатор новогоднего корпоратива лечебно-профилактического комплекса
                    .slider__text.scrollable-content Ребята, вы просто СУПЕРРРРР!!!!! Нас приятно удивил высокий уровень мероприятия, превосходное чувство юмора ведущих, интересные конкурсы и захватывающие номера. Спасибо вам, что помогли сотрудникам нашей компании по –настоящему расслабиться и окунуться в праздничную атмосферу.

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/5.jpg" alt="Роман и Елена")
                        .slider__title-wrapper
                            .slider__title Роман и Елена
                    .slider__text.scrollable-content Начав подготовку к свадьбе, мы с мужем и родными стали перебирать множество вариантов, кому доверить вести главное событие всей нашей жизни.. У нас были большие запросы и ограниченный бюджет..пролистав невероятное количество вариантов в голове была мысль: «всё не то..ну как же так...» И совершенно случайным образом сестра со своей легкой подачей присылает мне ссылку на дуэт ведущих... Промелькнула мысль: «даааа нууу.. дуэт..» Изучив их страницу, просмотрев видео и фото я бегу к мужу : «смотриииии, ты должен это видеть!» После чего мы посмотрели друг на друга и проговорили «это то, что нам нужно» На торжестве у нас планировалось около 100 человек, и двое ведущих- это был отличный вариант для того, чтобы не упустить ни одного гостя! После пары вопросов в сообщениях мы назначали встречу. Это была, в принципе, наша первая встреча с ведущими... И в этот день увидевшись и пообщавшись (я была без супруга, так как он работал) я поняла, что встречаться с кем-то из претендентов ещё не хочется! Я была под впечатлением! Столько доброты, столько позитива, столько профессионализма.. все это они!! Через неделю мы назначали встречу для заключения договора и для знакомства с моим мужем. Поначалу мы обсуждали наше торжество, Андрей, как и в прошлый раз, был один. Он интересовался, как мы видим этот день.. чего мы хотим, все слушал и записывал. После официальной части и подписания договора нас было не угомонить) Мы просидели в кафе 2 часа, болтая обо всем на свете! Как будто мы знали его уже давно. Такой он свойский что ли ... С Татьяной мы на тот момент ещё не познакомились. Здесь все понятно: маленькая дочка , с которой вечером нужно сидеть:) Вопросов у нас не было, потому что, мы знали, что это НАШИ ЛЮДИ! И все будет на высшем уровне! Оставалось ожидать..Это было не просто, потому что ребята выкладывали множество фотографий со свадеб, и нам уже так не терпелось отжечь на нашей свадьбе, потому что их фотографии со свадеб были уж слишком веселыми!!!:) Время близилось к заветной дате и за неделю до свадьбы мы утвердили списки гостей, концепцию ведения мероприятия. Какие будут конкурсы мы не знали, и на наш вопрос "А какие будут конкурсы" Андрей ответил: "вы точно хотите знать? или пусть будет сюрпризом?" Мы переглянулись и сказали, что мы полностью им доверяем, и пусть лучше будет сюрпризом, и мы не пожалели!!! :) Также за неделю мы скинули ребятам, какую музыку бы хотели слышат,  также по их просьбе скинули фотографии нас и наших гостей, которые потом в течении праздника показывали на проекторе (вроде простейшая затея, а гостям было интересно вновь увидеть фото себя самих или наши фотографии, которых они еще не видели). Музыкальное сопровождение было 100% попаданием!! ТАНЦЕВАЛИ ВСЕ 90 ЧЕЛОВЕК!!!! Такого мы еще не видели... на свадьбах обычно добрая половина гостей не танцует по разным причинам. А у нас танцевали АБСОЛЮТНО ВСЕ! Даже бабушки и дедушки!!! Огромный плюс диджею, который работал вместе с ребятами. Помимо наших предпочтений по музыке, он добавлял еще песни на свое усмотрение - и они были 100% попаданием! Был конечно и нюанс, но он полностью указал лишь на то, что РЕБЯТА ИСТИННЫЕ ПРОФЕССИОНАЛЫ! Сгорел усилитель звука (так все танцевали, что он не выдержал). Без музыки и микрофона, мы провели порядка 20 минут (ВСЕГО ЛИШЬ 20 МИНУТ) ребята успели в это время развлечь нас без этой атрибутики (мы даже и знать забыли, что что-то произошло), а они уже привезли НОВЫЙ усилитель и все наладили! Сама свадьба прошла ВЕЛИКОЛЕПНО! И все благодаря команде Андрея и Татьяны! Конкурсы были просто потрясными, новые, не заезженные, не пошлые!!! Мы смеялись до слез!!! Мы выбрали программу WEDDING BATTLЕ! И НЕ ПОЖАЛЕЛИ! Это их собственно разработанная концепция ведения свадьбы! Новая! Уникальная! Такого вы точно не видели! Андрей, Татьяна и их команда - сделали наш праздник семьи незабываемым! Мы благодарны судьбе за то,что встретили их!

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/6.jpg" alt="Сергей и Полина")
                        .slider__title-wrapper
                            .slider__title Сергей и Полина
                    .slider__text.scrollable-content Спасибо большое этой прекрасной паре Андрею и Татьяне за проведение нашей свадьбы! Прекрасные креативные ведущие, мы были в восторге, все гости тоже. Нам всем все очень понравилось, даже мамы были довольны))) Никакой пошлости, заезженных шуток и конкурсов, все самое интересное только на свадьбе с Андреем и Татьяной!

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/7.jpg" alt="Константин и Анжелика")
                        .slider__title-wrapper
                            .slider__title Константин и Анжелика
                    .slider__text.scrollable-content Долго выбирали ведущего на свадьбу, хотели, чтобы она прошла позитивно и легко, без двусмысленных шуток, приколов, которые могут испортить настроение гостям. Андрей с Татьяной понравились сразу, чувствовалась уверенность, что ребята действительно могут сделать отличный праздник)) В процессе подготовки к торжеству мы постоянно контактировали с Андреем по вопросам свадебной программы, было приятно, что наши предложения не оставались без внимания, а активно обсуждались и часть их попала в основную программу) На свадьбе было много интересных и веселых конкурсов, а также ведущим помогал диджей, с кучей классной танцевальной музыки!) Андрей и Татьяна, огромное спасибо за превосходно проведенную свадьбу! Сейчас осталось мало таких как вы — честно и с самоотдачей делающих свою работу — дарить людям истинный праздник)))

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/8.jpg" alt="Станислав и Александра")
                        .slider__title-wrapper
                            .slider__title Станислав и Александра
                    .slider__text.scrollable-content Андрей и Танечка! Мы только вернулись с медового месяца и появилась возможность наконец-то сказать огромное спасибо!!! Вы действительно сделали наш день! Программа была отличная, даже более современная, чем мы ожидали Все прошло на одном дыхании благодаря вам! Мы бесконечно благодарны, все гости в восторге, и мы в восторге! Обязательно будем вас советовать всем! Вы отличная команда! И отдельное спасибо диджею, музыка была супер!!! В общем ещё раз спасибо и удачи вам во всем, пусть вам попадаются только хорошие молодожены! И просто вы отличная семья, счастья вам и сохраняйте всегда такой позитив, какой мы видели на нашей свадьбе!

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/9.jpg" alt="Евгений и Екатерина")
                        .slider__title-wrapper
                            .slider__title Евгений и Екатерина
                    .slider__text.scrollable-content Слишком долго ждали фотографии с дня свадьбы, и вот наконец пишу отзыв (очень надеюсь, что он поможет кому-то с выбором ведущих на торжество) Началось с того, что очень долго и трудно шёл выбор ведущего. То плоский пошлый юмор, то алкогольное направление, то слишком высокие расценки, то занятые даты. И вот, кажется удача: приятные ведущие (Двое!!!), интеллигентные, свободный день, стоимость услуг приемлема, приятный и опрятный внешний вид. Пообщавшись с Андреем по телефону (в силу специфики профессии немного разбираюсь в людях), убедился в верности впечатления. Так как мы иногородние, договорились по телефону, я внёс предоплату (опять же приемлемую), и следом Андрей прислал договор и мы закрепили дату. Это внушило спокойствие и доверие. Приехав через месяц, встретились в Челябинске, обсудили направление торжества, стоп-лист по музыке и темам, Андрей подсказал что нужно приобрести и ещё продумать. Далее, Андрей общался с организатором нашей свадьбы и обсуждал детали, не озадачивая нас. Это признак профессионализма, опять же порадовал :)  И вот, день свадьбы. 27.07.2019. Выездная регистрация на высоте 555 метров в горнолыжном курорте «Солнечная долина». Татьяна произнесла трогательную (меня точно тронуло) речь, зарегистрировала нас, и потом банкет :) кстати, ребята привезли Dj и все необходимое (оборудование, что определенно упростило подготовку к свадьбе для нас). На самом банкете были отличные конкурсы, гармония ведущих, крутой розыгрыш, И потрясный рэп от Андрея :) Короче, если ищете ведущего на мероприятие - эти ведущие (прекрасная пара, отличные ребята, хорошие люди) - именно те люди, кто должен быть в этот день с вами! Мы с женой в восторге, гости довольны, родным понравилось. Это плюсы. Теперь о минусах: к сожалению, свадебный банкет оказался слишком коротким (6 часов!), но за это малое время, Андрей и Татьяна стали будто родными) в общем спасибо вам огромное за наш потрясный день! Вы суперские! И кстати, спасибо большущее за сладкий подарок))

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/10.jpg" alt="Роман и Александра")
                        .slider__title-wrapper
                            .slider__title Роман и Александра
                    .slider__text.scrollable-content Ребята просто молодцы! Каждый раз жду от них нового видео представления, и с каждым разом понимаю, что они просто МЕГА КРУТЫЕ. Столько в них эмоций, счастья и адреналина в крови, каждый раз придумывая все интереснее и интереснее программу. И выбирая ведущих на свадьбу или другое важное событие для вас и ваших близких, вы не прогадаете, если выберете их))) Каждый день вспоминаю свою свадьбу и благодарна за такие приятные и запоминающиеся моменты, в восторге были ВСЕ! Вдвойне приятно видеть в новых роликах, моменты своей свадьбы))) С ними очень приятно работать, они нашли подход ко всем гостям, скучно не было НИКОМУ)))

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/11.jpg" alt="Павел и Ирина")
                        .slider__title-wrapper
                            .slider__title Павел и Ирина
                    .slider__text.scrollable-content Дорогие Андрей и Татьяна! Спасибо Вам большое за проведение нашей свадьбы  Вы очень позитивные , активные , легко располагающие к себе Ведущие  Все гости от Вас в большом восторге , спрашивали где мы таких прекрасных ведущих нашли )) Вы безумно крутые  Надеюсь что это была наша не последняя встреча ))

            .slider__item
                .slider__slide
                    .slider__top
                        .slider__image
                            img(src="images/reviews/12.jpg" alt="Евгений и Татьяна")
                        .slider__title-wrapper
                            .slider__title Евгений и Татьяна
                    .slider__text.scrollable-content Когда мы назначили дату свадьбы, то даже не думали, кто же будет проводить наше торжество и веселить гостей. Еще со дня свадьбы друзей решили, что нашими ведущими будут Андрей и Татьяна! В начале банкета я расслабилась и понимала что переживать не нужно - всё будет на высшем уровне..собственно так все и прошло: всё было просто на высоте, гости веселились  и всем все очень понравилось! Хочется сказать Вам ОГРОМНОЕ СПАСИБО!! Ребята вы просто супер! 
                    
