mixin promo-video()
  .promo-video
    //button(type="button").promo-video__button
    a(href="https://www.youtube.com/watch?v=2YAJpSJSsWw" data-sub-html="<div class=\"section-one__buttons\"><a class=\"button section-one__button move-to-link\" href='#meet'>Подробнее</a><button class=\"button section-one__button open-order\" type=\"button\">Забронировать</button></div>").promo-video__button
      span.play-btn
      span.promo-video__button-text Смотреть видео
