mixin section-six()
    .section-six
        .section-six__header.container.section-header
            .section-title Отзывы благодарных клиентов
            .section-header__text Искренние эмоции и улыбки гостей&nbsp;- наша лучшая награда
        +slider()
        .section-six__action.action.container
            .action__inner
                .action__title Вопрос-ответ
                .action__text Мы подготовили ответы на самые часто задаваемые вопросы
            button(type="button").action__button.button.open-questions Смотреть

    .next-link.next-link--yellow.section-six__next-link.move-to-link(data-move-to="7") Контакты
        span
