extends ../layouts/main

block content
  +menu()
  +contacts-links()
  +main-menu()
  +promo-video()

  .page-container
    .section.section-black.section-main.section-main--at(data-anchor="main")
      +header()
      +section-one()
    .section.section_two.section-white.fp-auto-height-responsive(data-anchor="meet")
      +section-two()
    .section.section_provide.section-white.section_three.section_three--hide(data-anchor="provide")
      +section-three()
    .section.section_media.section-black.section_four.fp-auto-height-responsive(data-anchor="media")
      +section-four()
    .section.section-white.section_programs.section_five.fp-auto-height-responsive(data-anchor="programs")
      +section-five()
    .section.section-white.section_reviews.section_six.fp-auto-height-responsive(data-anchor="reviews")
      +section-six()
    .section.section-white.section_contacts.section_seven.fp-auto-height-responsive(data-anchor="contacts")
      +section-seven()
  +order-modal()
  +questions()
  +offers()
