extends ../layouts/main

block content
    +menu()
    .page-container
        .section.section-black.section-main.section-main--battle(data-anchor="main")
            +header()
            +section-one()
        .section.section_two.section_two_battle.section-white.section-black.fp-auto-height-responsive(data-anchor="meet")
            +section-two-wedding-battle()
        .section.section-white.section_eight.fp-auto-height-responsive(data-anchor="provide")
            +section-eight()
        .section.section-black(data-anchor="media")
            +section-four()
        .section.section-white.section_five.fp-auto-height-responsive(data-anchor="programs")
            +section-five()
        .section.section-white.section_six.fp-auto-height-responsive(data-anchor="reviews")
            +section-six()
        .section.section-white.section_seven(data-anchor="contacts")
            +section-seven()
    +order-modal()
    +questions()
    +offers()
