mixin questions()
    .questions.scrollable-content
        .questions__header
            .questions__header-title Вопрос-ответ
            .questions__header-text Мы подготовили ответы на самые часто задаваемые вопросы
        .close-btn.questions__close Назад
            span
        .questions__content
            .questions__inner.scrollable-content
                .questions__col
                    .questions__item
                        .questions__title А вы женаты?
                        .questions__text Да, мы познакомились в далеком 2003 году. Целый год мы присматривались друг к другу, а потом наше общение переросло в высокие чувства, которые называются одним словом – любофффь. Семь долгих лет мы встречались, проверяли свои отношения и в 2011 году, наконец, связали себя узами брака! Теперь мы «счастливы вместе» и желаем всем того же.

                    .questions__item
                        .questions__title Кто главный у вас в дуэте?
                        .questions__text И в творческом дуэте, и в семейном тандеме у нас полное равноправие. Все делается сообща, никто не тянет одеяло на себя. На праздниках вдвоем легче вести общение с гостями. Если они и вовсе неактивные, то можно и между собой поболтать:)

                    .questions__item
                        .questions__title Играли ли вы в КВН?
                        .questions__text Так случилось, что официально мы не были участниками ни одной команды КВН. Это одно из отличий от многих ведущих, которые после КВНовской карьеры пробуют себя в работе ведущего мероприятий. Мы же пошли другим путем: сохранили свои организаторские и актерские данные и теперь радуем клиентов и гостей нетривиальным, уместным юмором и хорошей импровизацией :)

                    .questions__item
                        .questions__title Заключаете ли вы договор?
                        .questions__text Безусловно! В договоре будут прописаны основные моменты нашего сотрудничества и предоставляемые услуги. Для нас это уверенность, что мы с Вами нашли общий язык и теперь можем приступать к совместной подготовке к Вашему мероприятию. Для Вас - гарантия того, что праздник в надежных руках, и Вы с легкостью можете приступать к другим этапам подготовки.

                    .questions__item
                        .questions__title Кто отвечает за музыкальное сопровождение?
                        .questions__text Дома за музыкальное настроение семьи и соседей отвечает Андрей. Причем необязательно, что соседи хотят слушать эту музыку:) В семейном автомобиле также Татьяне запрещено прикасаться к магнитоле. А вот на мероприятиях пожалуйста! Правда, там есть третий человек - наш звукорежиссер Алексей. И вот уже он не разрешает ни Андрею, ни Татьяне вмешиваться в свою работу, т.к является главным по музыкальному сопровождению на наших мероприятиях:)

                    .questions__item
                        .questions__title Кто отвечает за музыкальное сопровождение?
                        .questions__text Дома за музыкальное настроение семьи и соседей отвечает Андрей. Причем необязательно, что соседи хотят слушать эту музыку:) В семейном автомобиле также Татьяне запрещено прикасаться к магнитоле. А вот на мероприятиях пожалуйста! Правда, там есть третий человек - наш звукорежиссер Алексей. И вот уже он не разрешает ни Андрею, ни Татьяне вмешиваться в свою работу, т.к является главным по музыкальному сопровождению на наших мероприятиях:)


                .questions__col
                    .questions__item
                        .questions__title Пишите ли Вы сценарии и можно изменить что-нибудь в них?
                        .questions__text На каждое мероприятие (без исключений) составляется свой собственный уникальный сценарий. Да, безусловно, может повторяться порядок проведения или некоторые конкурсы, но все будет составлено исключительно по желанию заказчика! Каждый раз нам интересно придумывать что-нибудь новое, необычное. Хотите, чтобы на Вашем мероприятии было много сюрпризов и неожиданностей? Пожалуйста! Мы не расскажем Вам обо всех особенностях, а сохраним это в тайне. Или хотите, чтобы праздник начался с выноса торта? Без проблем! Словом, нет ничего невозможно – все Ваши желания будут исполнены!

                    .questions__item
                        .questions__title Есть ли у вас конкурсы ,в которых оголяются гости и танцуют сюрприз?
                        .questions__text Конкурсы есть, но мы их не проводим. В зале могут быть дети! Да и наша психика уже изрядно «расшатана», чтобы лицезреть такие представления:) Хотя за отдельную плату мы готовы провести такое действие. Примерная стоимость 1,5 тыс.$. А еще лучше: пригласите профессиональных танцовщиков – это будет и дешевле, и красивее!

                    .questions__item
                        .questions__title Включаете ли вы в танцевальных паузах песни Верки Сердючки и Стаса Михайлова?
                        .questions__text Конечно! Безусловно! Без этого никуда! Но только по желанию заказчика или гостей:) Все музыкальные предпочтения клиента мы обговариваем заранее. И если нам поручено ни при каких обстоятельствах не ставить ту или иную мелодию, то охрана сработает вовремя и уведет от диджейского пульта «попрошаек». Если же Вам крайне важно услышать на своем празднике песни Гуфа или Rammstein – будет исполнено! Но придется уговорить еще нашего ди джея:) Ну и без Грибов никуда! Слышали такую поговорку: если Грибов на свадьбе не включали, значит, брак не считается:)

                    .questions__item
                        .questions__title Играете ли вы на музыкальных инструментах, поете, танцуете?
                        .questions__text Наши возможности безграничны. Мы можем сыграть на любых музыкальных инструментах: гитара, скрипка, баян, флейта, тромбон и даже нервы – все нам по плечу! Правда, делаем мы это непрофессионально и вопиюще плохо. Также дело обстоит и с вокальными данными: спеть можем, но вряд ли это кому-то понравится:) А вот станцевать – это всегда пожалуйста! Наши танцевальные движения, похожие на конвульсии, безусловно, придадут Вашему торжеству обилие самых разных впечатлений:)

                    .questions__item
                        .questions__title Что еще вы можете?
                        .questions__text Мы можем все! По крайней мере, любые Ваши пожелания, даже самые необычные, мы всегда рады обсудить. Поэтому звоните и мы обязательно найдем общий язык! Всем прекрасного настроения и удачной подготовки к празднику!
    
