mixin numbered-list()
    ol.numbered-list
        li.numbered-list__item
            .numbered-list__inner
                | позвонить и договориться о встрече
                br
                a(href="tel:+79823112892").yellow.phone-link 8 982 311 28 92
        li.numbered-list__item
            .numbered-list__inner знакомство на первой встрече; обсуждение концепции праздника; идеи по проведению торжества; заключение договора
        li.numbered-list__item
            .numbered-list__inner подготовка к мероприятию; обсуждение ключевых моментов; помощь в организации
        li.numbered-list__item
            .numbered-list__inner утверждение сценария; выезд на место проведения мероприятия (при необходимости)
        li.numbered-list__item
            .numbered-list__inner день свадьбы: вы отдыхаете мы&nbsp;
                span.yellow #ДаримСчастливыеМоменты
