mixin offers()
    // section three
    .scrollable-content.offer-info(data-id="1")
        .offer-info__inner
            .offer-info__title Свадебные<br>торжества
            .offer-info__text
                p Свадьба – пожалуй, самое красивое и трогательное событие в жизни каждого. Организация столь важного мероприятия требует большой ответственности. Чтобы все прошло идеально, необходимо предусмотреть множество мелочей. Для одних свадьба – это грандиозное шоу-представление, для других – небольшой, душевный семейный вечер. Но и в том, и в другом случае провести торжество должен человек, который сможет сделать его по-настоящему особенным. Дут ведущих Андрей и Татьяна обладают необходимым опытом и знаниями, как создать незабываемый вечер именно для вас! Почему именно мы?
                ul
                    li Два интеллигентных ведущих приятной внешности
                    li Не менее симпатичный диджей с качественной аппаратурой и огромной музыкальной базой
                    li артисты различных жанров
                    li живая музыка на мероприятии
                    li индивидуальный подходи и удовлетворение пожеланий заказчика по проведению торжества
                    li современные конкурсы без пошлости, которые будут интересны людям разного поколения
                    li сюрпризы для гостей и виновников торжества
                    li множество положительных эмоций и искренних улыбок
                p Всего 5 шагов отделяет вас от свадьбы мечты!
                a(href="https://at-event.ru/wedding") Подробнее
            .offer-info__bottom
                .offer-info__button.button.open-order Забронировать
        .offer-info__back
            .close-btn Назад
                span


    .scrollable-content.offer-info(data-id="2")
        .offer-info__inner
            .offer-info__title Официальные мероприятия
            .offer-info__text
                p Официальные мероприятия имеют свои особенности, которые необходимо учесть при выборе ведущего мероприятия. Будь то презентация, конференция, выставка, культурно-массовые или спортивные события, человек, являющийся лицом этого события должен на 100% соответствовать ему. С давних времен организаторы самых ярких, популярных, масштабных мероприятий отдают предпочтение дуэтам ведущих разного пола. То же касается различных деловых событий – руководители компаний хотят, чтобы проведение церемонии было в руках привлекательной пары. Ведущие Андрей и Татьяна обладают всеми требуемыми качествами, чтобы создать необходимую атмосферу Вашего мероприятия:
                ul
                    li Представительный внешний вид
                    li Интеллигентное поведение и уважительное отношение к гостям мероприятия
                    li Грамотная речь, четкая дикция
                    li Внимание ко всем значимым деталям
                    li Следование утвержденному заказчиком сценарию
                    li Отличная импровизация и уместный юмор

            .offer-info__bottom
                .offer-info__button.button.open-order Забронировать
        .offer-info__back
            .close-btn Назад
                span


    .scrollable-content.offer-info(data-id="3")
        .offer-info__inner
            .offer-info__title Корпоративные вечера
            .offer-info__text
                .offer-info__title Что делать, если вам необходимо организовать корпоратив?
                p Для начала необходимо определиться с типом мероприятия. Будет ли это день рождения компании, тимбилдинг или новогодний корпоратив? Необходимо сплотить коллектив или важно акцентировать внимание на успехах и ценностях компании? Ответив на эти вопросы на первой встрече, мы сможем определить концепцию предстоящего мероприятия.
                .offer-info__title Почему вам нужно выбрать дуэт ведущих Андрей и Татьяна для проведения корпоратива?
                ul
                    li Стиль проведения мероприятия всегда соответствует выбранной концепции
                    li Умение заинтересовать и удерживать внимание самой различной публики
                    li Внимание ко всем значимым деталям
                    li Удовлетворение пожеланий заказчика
                    li Разработка оригинального сценария для тематических корпоративов
                    li Подготовка развлекательной шоу-программы с участием приглашенных артистов
                    li Качественное техническое обеспечение мероприятий
            .offer-info__bottom
                .offer-info__button.button.open-order Забронировать
        .offer-info__back
            .close-btn Назад
                span


    .scrollable-content.offer-info(data-id="4")
        .offer-info__inner
            .offer-info__title Дни рождения и&nbsp;юбилеи
            .offer-info__text
                p Данные события относятся к семейным торжествам. Обычно масштаб празднования более скромный, чем на свадьбах. Однако, если человек решил отмечать праздник не в тихом семейном кругу, значит, он планирует сделать для себя и своих гостей нечто необычное. И для этого нужно пригласить людей, которые помогут в организации и сделают ваш праздник ярким и незабываемым. Почему Ваше мероприятие должны провести ведущие Андрей и Татьяна?
                ul
                    li Два интеллигентных ведущих приятной внешности
                    li Dj с аппаратурой и огромной музыкальной базой
                    li Индивидуальный подход и удовлетворение любых пожеланий клиента по проведению торжества
                    li Современные конкурсы, которые будут интересны людям разного поколения
                    li Сюрпризы для гостей и виновников торжества
                    li Культурное поведение, вежливое отношения к окружающим и ненавязчивое проведение праздника
                    li Полезные советы, как сделать праздник веселым и оригинальным
            .offer-info__bottom
                .offer-info__button.button.open-order Забронировать
        .offer-info__back
            .close-btn Назад
                span


    .scrollable-content.offer-info(data-id="5")
        .offer-info__inner
            .offer-info__title Выпускные вечера
            .offer-info__text
                p Для многих людей выпускной - это весьма важное событие в жизни! Порой к нему готовятся не меньше, чем к свадьбе. И на это есть причины: выпускной вечер - это последняя отсчетная точка перед наступлением чего-то нового, неизведанного! И не важно, окончание школы это или университета - впереди новая жизнь! И каждому выпускнику хочется отпраздновать последний день перед взрослой жизнью так, чтобы он запомнился на долгие годы! А родители тоже хотят приятно отдохнуть, и чтобы их ребенку было необычайно весело! Дуэт ведущих Андрей и Татьяна сделают этот праздник ярким и незабываемым. Для Вас:
                ul
                    li Уникальная шоу-программа
                    li Разработка оригинального сценария для тематических вечеров
                    li Удовлетворение пожеланий заказчика
                    li Качественный звук и свет
                    li Отличная импровизация и уместный юмор
                    li Множество идей, как создать потрясающее представление
            .offer-info__bottom
                .offer-info__button.button.open-order Забронировать
        .offer-info__back
            .close-btn Назад
                span


    .scrollable-content.offer-info(data-id="6")
        .offer-info__inner
            .offer-info__title Другие услуги
            .offer-info__text
                p В нашем арсенале есть несколько вариантов шоу-программ, которые рассчитаны на различные пожелания заказчика и ценовые категории. Для удобства программы разделены на несколько пакетов услуг. Можно выбирать целым пакетом, а можно выбрать стандартную программу и наполнить ее всевозможными дополнительными услугами для создания яркого, объемного представления! Обязательно найдется программа для людей даже с самыми изысканными пожеланиями. Как говорится, на любой вкус и кошелек. Вы обязательно найдете тот пакет услуг, который подходит именно вам!
                p Самое главное помните: какую программу бы вы не выбрали, мы всегда работаем со стопроцентной отдачей и делаем по-настоящему превосходный праздник!
                p Подробнее обо всех программах можно подробно прочитать
                    a(href="#programs") здесь
            .offer-info__bottom
                .offer-info__button.button.open-order Забронировать
        .offer-info__back
            .close-btn Назад
                span


    // section five
    .offer-info.scrollable-content(data-id="7")
        .offer-info__wrapper
            .offer-info__inner
                .offer-info__title Lite
                .offer-info__text
                    p.bold Подходит для небольших торжеств и семейных вечеров, в которых необходимо создать уютную, приятную и праздничную атмосферу.
                    p Цена проведения мероприятия 20 000 руб.
                    p В стоимость входит:
                    ul
                        li работа двух ведущих  (4 часа)
                        li Dj с аппаратурой и огромной музыкальной базой;
                        li оригинальный сценарий и индивидуальный подход к каждому клиенту
                        li современные конкурсы, которые будут интересны людям разного поколения;
                        li самые актуальные интерактивы и игры
                        li качественное звуковое и анимационное сопровождение
                        li сюрпризы для гостей и виновников торжества;
                        li культурное поведение, вежливое отношения к окружающим и ненавязчивое проведение праздника;  -полезные советы, как сделать праздник веселым и запоминабщимся;
                    p.bold На проведение юбилеев действует приятная скидка!
                .offer-info__bottom
                    .offer-info__button.button.open-order Забронировать
            .offer-info__back
                .close-btn Назад
                    span


    .offer-info.scrollable-content(data-id="8")
        .offer-info__wrapper
            .offer-info__inner
                .offer-info__title Perfect
                .offer-info__text
                    p.bold Подходит как для грандиозных торжественных банкетов, так и для небольших, семейных, но очень уютных вечеров.
                    p Цена проведения мероприятия 30 000 руб.
                    p В стоимость входит:
                    ul
                        li работа двух ведущих(6 часов)
                        li Dj с аппаратурой и огромной музыкальной базой;
                        li оригинальный сценарий и индивидуальный подход к каждому клиенту
                        li современные конкурсы, которые будут интересны людям разного поколения;
                        li самые актуальные интерактивы и игры
                        li интерактивные видео - конкурсы;
                        li качественное звуковое и анимационное сопровождение
                        li сюрпризы для гостей и виновников торжества;
                        li культурное поведение, вежливое отношения к окружающим и ненавязчивое проведение праздника;  -полезные советы, как сделать праздник веселым и оригинальным;
                .offer-info__bottom
                    .offer-info__button.button.open-order Забронировать
            .offer-info__back
                .close-btn Назад
                    span


    .offer-info.scrollable-content(data-id="9")
        .offer-info__wrapper
            .offer-info__inner
                .offer-info__title Wedding battle
                .offer-info__text
                    p.bold Уникальная, авторская шоу-программа для желающих сделать свою свадьбу непохожей на другие!
                    p Цена проведения мероприятия 35 000 руб.
                    p В стоимость входит:
                    ul
                        li работа двух ведущих (6 часов)
                        li уникальный сценарий, подразумевающий противостояние традиционно русского стиля проведения свадьбы и современных тенденций;
                        li ироничные шутки об особенностях двух противостоящих стилей;
                        li современные, веселые, непошлые конкурсы, а также использование реквизитов для создания антуража традиционной свадьбы;
                        li конкурсы с использованием видеопроектора / плазмы
                        li тематические интерактивные видео - конкурсы;
                        li сюрпризы для гостей и виновников торжества;
                        li Dj с аппаратурой и огромной музыкальной базой;
                        li культурное поведение и ненавязчивое общение с гостями; -полезные советы, как сделать праздник веселым и оригинальным;
                .offer-info__bottom
                    .offer-info__button.button.open-order Забронировать
            .offer-info__back
                .close-btn Назад
                    span


    .offer-info.scrollable-content(data-id="10")
        .offer-info__wrapper
            .offer-info__inner
                .offer-info__title Big show
                .offer-info__text
                    p.bold Подходит для любого типа мероприятия, на которых необходимо не только удержать внимание публики, но и подготовить развлекательную шоу-программу с участием приглашенных артистов
                    p Цена проведения мероприятия 60 000 руб.
                    p В стоимость входит:
                    ul
                        li работа двух ведущих(6 часов)
                        li Dj с аппаратурой и огромной музыкальной базой;
                        li шоу мимов;
                        li приглашенные артисты или аттракционы на общую сумму 20 000 руб.*
                        li оригинальный сценарий и индивидуальный подход к каждому клиенту
                        li современные конкурсы, которые будут интересны людям разного поколения;
                        li самые актуальные интерактивы и игры
                        li интерактивные видео - конкурсы;
                        li качественное звуковое и анимационное сопровождение
                        li сюрпризы для гостей и виновников торжества;
                        li полезные советы, как сделать праздник веселым и запоминающимся
                    p.italic * - стоимость указана условная, могут быть приглашены артисты как на большую, так и на меньшую сумму

                .offer-info__bottom
                    .offer-info__button.button.open-order Забронировать
            .offer-info__back
                .close-btn Назад
                    span


    .offer-info.scrollable-content(data-id="11")
        .offer-info__wrapper
            .offer-info__inner
                .offer-info__title Live sound
                .offer-info__text
                    p.bold Подходит для истинных любителей живой музыки. Органично сочетается работа ведущих и выступление музыкального коллектива
                    p Цена проведения мероприятия 80 000 руб.
                    p В стоимость входит:
                    ul
                        li работа двух ведущих(6 часов)
                        li Dj с аппаратурой и огромной музыкальной базой;
                        li шоу мимов;
                        li кавер-группа (живой звук на протяжении  мероприятия).
                        li оригинальный сценарий и индивидуальный подход к каждому клиенту
                        li современные конкурсы, которые будут интересны людям разного поколения;
                        li самые актуальные интерактивы и игры
                        li интерактивные видео - конкурсы;
                        li качественное звуковое и анимационное сопровождение
                        li сюрпризы для гостей и виновников торжества;
                        li полезные советы, как сделать праздник веселым и запоминающимся
                .offer-info__bottom
                    .offer-info__button.button.open-order Забронировать
            .offer-info__back
                .close-btn Назад
                    span


    .offer-info.scrollable-content(data-id="12")
        .offer-info__wrapper
            .offer-info__inner
                .offer-info__title All inclusive
                .offer-info__text
                    p.bold Подходит для любого типа мероприятия, на котором необходимо создать полноценное, театрализованное представление!
                    p В стоимость входит:
                    ul
                        li работа двух ведущих(6 часов)
                        li Dj с аппаратурой и огромной музыкальной базой;
                        li шоу мимов;
                        li приглашенные артисты или аттракционы на общую сумму 20 000 руб.*
                        li кавер-группа (живой звук на протяжении  мероприятия).
                        li оригинальный сценарий и индивидуальный подход к каждому клиенту
                        li современные конкурсы, которые будут интересны людям разного поколения;
                        li самые актуальные интерактивы и игры
                        li интерактивные видео - конкурсы;
                        li качественное звуковое и анимационное сопровождение
                        li сюрпризы для гостей и виновников торжества;
                        li полезные советы, как сделать праздник веселым и запоминающимся
                    p.italic * - стоимость указана условная, могут быть приглашены артисты как на большую, так и на меньшую сумму
                    p Цена проведения мероприятия 100 000 руб.
                .offer-info__bottom
                    .offer-info__button.button.open-order Забронировать
            .offer-info__back
                .close-btn Назад
                    span




