mixin section-three()
    .section-three.container
        .section-three__header.container.section-header
            .section-title Мы проводим
            .section-header__text То, что вам точно понравится!
        ul.offers.section-three__list
            li.offers__item
                .offers__title Свадебные торжества
                button(type="button" data-id="1").offers__button Подробнее
            li.offers__item
                .offers__title Официальные мероприятия
                button(type="button" data-id="2").offers__button Подробнее
            li.offers__item
                .offers__title Корпоративные вечера
                button(type="button" data-id="3").offers__button Подробнее
            li.offers__item
                .offers__title Дни рождения и&nbsp;юбилеи
                button(type="button" data-id="4").offers__button Подробнее
            li.offers__item
                .offers__title Выпускные вечера
                button(type="button" data-id="5").offers__button Подробнее
            li.offers__item
                .offers__title Другие услуги
                button(type="button" data-id="6").offers__button Подробнее

    .next-link.section-three__next-link.move-to-link(data-move-to="4") Наши фото и видео
        span
