//mediaqueries
$desktop: "(min-width: 1280px)";
$laptop: "(min-width: 1024px)";
$tablet: "(min-width: 768px)";

$desktop-width: "1280px";
$laptop-width: "1024px";
$tablet-width: "768px";

@mixin vertical {
  @media (max-height: 400px) {
    @content;
  }
}
@mixin disable-slides {
  @media (max-height: 800px) {
    @content;
  }
}
@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin laptop {
  @media #{$laptop} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}


//colors
$red: #FE1F3F;

//rouble
@mixin rouble() {
  &:after {
    font-family: 'PT Rouble Sans';
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 3px;
    top: -2px;
    content: 'З';
  }
}

@mixin loader($color: $red) {
  border: 4px double;
  border-radius: 50%;
  border-color: transparent $color $color;
  animation: loader-spin 690ms infinite linear;
}

@mixin arrow-down($color: #666666) {
  width: 14px;
  height: 14px;
  border: 2px solid $color;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@keyframes loader-spin {
  100% {
    transform: rotate(360deg);
  }
}
