mixin section-seven()
    .section-seven.container
        .section-seven__title Давайте обсудим ваше мероприятие
            span !
        .section-seven__text Всего один звонок отделяет Вас от того, чтобы получить незабываемые и яркие эмоции
        .section-seven__image
            img(src="images/contacts-photo.jpg")
        .section-seven__contacts.contacts
            .contacts__main-section
                .contacts__phone-title Контактный телефон
                a(href="tel:+79823112892").contacts__phone 8(982)311-28-92
            .contacts__section
                .contacts__title Эл.почта
                a(href="mailto:at-event@mail.ru").contacts__mails-link at-event@mail.ru
            .contacts__section
                .contacts__title Социальные сети
                ul.contacts__socials
                    li
                        a(href="https://vk.com/at.event" target="_blank") Вконтакте
                    li
                        a(href="https://www.instagram.com/at.event/" target="_blank") Инстаграм
                    li
                        a(href="https://www.youtube.com/channel/UC676j7XaxvcC2cYz5Ghf6zA?view_as=subscriber" target="_blank") Ютуб
                    li
                        a(href="https://www.facebook.com/at.event.ru" target="_blank") Фейсбук
                    li
                        a(href="https://ok.ru/at.event" target="_blank") Одноклассники
            .contacts__section
                button(type="button").button.open-order Забронировать мероприятие
