mixin background-video()
  .background-video
    video(poster='/images/main-bg.jpg' loop muted data-autoplay)
      source(src='video/langing-high.mp4', type='video/mp4')
      source(src='video/langing.webm', type='video/webm')
  
