mixin menu()
  .menu
    button(type="button").menu__toggle
      span
      p.menu__caption Меню
    .menu__inner
      ul.menu__socials.socials
        li
          a(href="https://vk.com/at.event") VKONTAKTE
        li
          a(href="https://www.instagram.com/at.event/") INSTAGRAM
        li
          a(href="https://www.facebook.com/at.event.ru") FACEBOOK
        li
          a(href="https://www.youtube.com/channel/UC676j7XaxvcC2cYz5Ghf6zA?view_as=subscriber") YOUTUBE

      .menu__title Menu
      ul.menu__list
        li.menu__item
          a(href="#main").menu__link.menu__link_active Главная
            span.menu__link-icon
        li.menu__item
          a(href="#meet").menu__link О нас
            span.menu__link-icon
        li.menu__item.menu__item--hide-tablet
          a(href="#provide").menu__link Услуги
            span.menu__link-icon
        li.menu__item
          a(href="#media").menu__link Галерея
            span.menu__link-icon
        li.menu__item
          a(href="#programs").menu__link Программы и цены
            span.menu__link-icon
        li.menu__item
          a(href="#reviews").menu__link Отзывы
            span.menu__link-icon
        li.menu__item
          a(href="#contacts").menu__link Контакты
            span.menu__link-icon
        li.menu__item
          a(href="https://disk.yandex.ru/d/CvfqVJUhK6TNAw?w=1" target="_blank" rel="noopener").menu__link Для агенств
            img(src="images/blank.png").blank-icon
            span.menu__link-icon
      .menu__bottom
        span.main-logo
          img(src="images/logo-black.png" alt="Логотип АТ")
          | Андрей и Татьяна
        a(href="tel:+79823112892" title="+7(982)311-28-92").menu__phone 8  982 311 28 92
