.contacts-nav {
  position: absolute;
  right: 20px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 65px;
  @include tablet {
    position: fixed;
  }
  @include laptop() {
    margin-top: 0;
    position: absolute;
  }
}
